<launch>
  <!-- Load custom RRT* planner parameters -->
  <rosparam command="load" file="$(find ur3_moveit_config)/config/rrt_star_planner.yaml" />

  <!-- 1. Launch Gazebo with UR3 in paused state -->
  <arg name="paused" default="true" />
  <include file="$(find ur_gazebo)/launch/ur3_bringup.launch">
    <arg name="paused" value="$(arg paused)" />
  </include>

  <!-- 2. Launch MoveIt for UR3 in simulation mode -->
  <include file="$(find ur3_moveit_config)/launch/moveit_planning_execution.launch">
    <arg name="sim" value="true" />
  </include>

  <!-- 3. Launch RViz with planning config -->
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find ur3_object_picking)/rviz/ur3_planning_config.rviz"
        required="true" />

  <!-- Optionally, launch other nodes (e.g., object spawner) as needed. -->
</launch>


<!-- <launch>
 
  <include file="$(find ur_gazebo)/launch/ur3_bringup.launch" />


    <include file="$(find ur3_moveit_config)/launch/moveit_planning_execution.launch">
        <arg name="sim" value="true" />
    </include>

  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find ur3_object_picking)/rviz/ur3_planning_config.rviz"
        required="true" />

  <node name="object_spawner"
        pkg="ur3_object_picking"
        type="spawn_demo_node"
        output="screen" /> 
</launch> -->
