<?xml version="1.0"?>
<robot name="gripper1" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Include the macro file that defines the gripper model.
       We assume that the macro file is in the 'inc' folder. -->
  <xacro:include filename="$(find ur3e_simulation)/urdf/inc/robotiq_arg2f_85_model_macro.xacro"/>
  
  <!-- Instantiate the gripper using the macro.
       The 'prefix' parameter can be adjusted if you need to namespace the links/joints. -->
  <xacro:robotiq_arg2f_85 prefix=""/>
</robot>
