<?xml version="1.0"?>
<launch>
  <arg name="position_controller" default="true"/>
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- Start Gazebo empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ur3_gripper_sim)/world/empty.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load Gazebo controller PID gains -->
  <rosparam file="$(find ur3_gripper_sim)/config/gazebo_controller.yaml" command="load" />

  <!-- Load the URDF -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find ur3_gripper_sim)/urdf/ur3_gripper.urdf.xacro'" />

  <!-- Spawn the robot in Gazebo -->
  <node pkg="gazebo_ros" type="spawn_model" name="urdf_spawner" respawn="false" output="screen"
        args="-urdf -model ur3_gripper -z 0.1 -param robot_description" />

  <!-- Load controllers -->
  <group if ="$(arg position_controller)">
    <include file="$(find ur3_gripper_sim)/launch/position_controllers.launch" />
  </group>

  <!-- ADJUST max force -->
  <node name="gripper_force_limiter" pkg="ur3_gripper_sim" type="gripper_force_limiter.py" output="screen">
    <param name="max_effort_limit" value="2.2" />
  </node>

</launch>
